:root {
  box-sizing: border-box;
  overflow: hidden;
  --main-color: #c54a54;
  --inputHighlight-color: rgb(87, 180, 255);
}

html,
body,
header,
.wrapper {
  border: none;
  margin: 0;
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: white;
  max-width: 2560px;
  flex: 1 1 0;
}

.nav {
  border: none;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 0 0.4rem;
  align-items: center;
  background-color: #f0f0f0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  font-size: clamp(3rem, 2.601rem + 2.123vw, 6rem);
  color: #c54a54;
  max-height: clamp(5rem, 4.203rem + 4.247vw, 11rem);
  border-bottom: clamp(0.125rem, 0.115rem + 0.053vw, 0.2rem) solid
    rgba(0, 0, 0, 0.788);
  text-shadow: -2px 0px 1px rgb(117, 117, 117);
  -webkit-text-stroke: 0.1rem rgb(0, 0, 0);
}

.nav > #main-logo {
  border: none;
  margin: 0.2rem 0 0 clamp(0.8rem, 0.693rem + 0.566vw, 1.6rem);
  height: 3rem;
  height: clamp(3rem, 2.601rem + 2.123vw, 6rem);
  filter: drop-shadow(-2px 0px 1px rgb(117 117 117));
}

h1 {
  border: none;
}
.nav > #addBook {
  border: none;
  height: clamp(
    1.875rem,
    1.5016592920353982rem + 1.991150442477876vw,
    4.6875rem
  );
  cursor: pointer;
  filter: drop-shadow(-1px 0px 1px rgb(65, 65, 65));
  margin-top: 1rem;
  margin-right: clamp(
    1.5rem,
    1.168141592920354rem + 1.7699115044247788vw,
    4rem
  );
}

.formWrapper {
  display: none;
  float: inherit;
  position: absolute;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100%;
}

form {
  display: none;
  flex-direction: column;
  justify-self: center;
  position: absolute;
  float: inherit;
  width: 95%;
  z-index: 10;
  margin-top: 10%;
  padding: 1rem;
  border: 2px solid rgb(58, 58, 58);
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: -2px 2px 5px rgb(117 117 117);
}

label {
  display: block;
  padding-bottom: 1rem;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: rgb(71, 71, 71);
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.125rem 0.125rem 0.125rem 0.3rem;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.726);
  border-radius: 3px;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  border: 2px solid var(--inputHighlight-color);
}
textarea:focus {
  border: 2px solid var(--inputHighlight-color);
}
input:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid rgba(255, 30, 0, 0.8);
}

.cardContainer {
  overflow: scroll;
  border-color: pink;
  border: none;
  display: grid;
  height: 100vh;
  gap: 1rem;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

button:active,
input[type="image"]:active {
  transform: translateY(2px);
}
