* {
  border: 2px solid black;
  box-sizing: border-box;
}

html,
body,
header,
.wrapper {
  border: none;
  margin: 0;
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.wrapper {
  border: none;
}

.card {
  border-color: chartreuse;
}

.formContainer {
  border-color: orangered;
  display: none;
  float: inherit;
}

form {
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: white;
  position: absolute;
}

.cardContainer {
  border-color: pink;
  display: grid;
  height: 100vh;
  gap: 1rem;
}

.btnContainer {
  display: flex;
  flex-direction: row;
}
